:root{
    --black: #000004;
    --dark-blue: #002d4c;
    --medium-blue: #00659d ;
    --light-blue: #00a6fb;
    --aqua-blue: #00f0ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: var(--light-blue);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-blue);
    display: flex;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    position: relative;
    background-color: var(--dark-blue);
    border: 1px solid var(--aqua-blue);
    box-shadow: 5px 5px 10px;
    border-radius: 5px;
}

.form-wrapper .input-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-bottom: 30px;
}

/*Estilo do Input*/
.form-wrapper .input-wrapper.-second{
    position: relative;
    max-width: 40%;
}

.form-wrapper .input-wrapper.-second .input{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--light-blue);
    background-color: transparent;
    outline: none;
}

.form-wrapper .input-wrapper.-second .label{
    position: absolute;
    top: 0;
    left: 1;
    color: var(--light-blue);
    transition: all 0.3s ease;
    pointer-events: none;
}

.form-wrapper .input-wrapper.-second .input:focus ~ .label,
.form-wrapper .input-wrapper.-second .input:valid ~ .label{
    top: -16px;
    font-size: 14px;
    color: var(--aqua-blue);
}

.form-wrapper .input-wrapper.-second .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: all 0.3s ease;
    background-color: var(--aqua-blue);
}

.form-wrapper .input-wrapper.-second .input:focus ~ .underline,
.form-wrapper .input-wrapper.-second .input:valid ~ .underline{
    transform: scaleX(1);
}



/*ebebeb*/