:root {
    --black: #000004;
    --dark-blue: #002d4c;
    --medium-blue: #00659d;
    --light-blue: #00a6fb;
    --aqua-blue: #00f0ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: var(--light-blue);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-blue);
    display: flex;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    position: relative;
    background-color: var(--dark-blue);
    border: 1px solid var(--aqua-blue);
    box-shadow: 5px 5px 10px;
    border-radius: 5px;
}

.form-wrapper .input-wrapper {
    display: flex;
    flex-direction: column;

    gap: 5px;
    margin-bottom: 30px;
}

/*Estilo do Input*/
.form-wrapper .input-wrapper.-second {
    position: relative;
    max-width: 40%;
}

.form-wrapper .input-wrapper.-second .input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--light-blue);
    background-color: transparent;
    outline: none;
}

.form-wrapper .input-wrapper.-second .label {
    position: absolute;
    top: 0;
    left: 1;
    color: var(--light-blue);
    transition: all 0.3s ease;
    pointer-events: none;
}

.form-wrapper .input-wrapper.-second .input:focus~.label,
.form-wrapper .input-wrapper.-second .input:valid~.label {
    top: -16px;
    font-size: 14px;
    color: var(--aqua-blue);
}

.form-wrapper .input-wrapper.-second .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: all 0.3s ease;
    background-color: var(--aqua-blue);
}

.form-wrapper .input-wrapper.-second .input:focus~.underline,
.form-wrapper .input-wrapper.-second .input:valid~.underline {
    transform: scaleX(1);
}

.form-wrapper .radio-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-wrapper .radio-wrapper .region,
.form-wrapper .radio-wrapper .level {
    display: flex;
    flex-direction: column;
    width: 135px;
    gap: 10px;
}

.form-wrapper .radio-wrapper .level {
    display: flex;
    margin: 0 auto;
}

.form-wrapper .radio-wrapper .region .wrapper,
.form-wrapper .radio-wrapper .level .wrapper {
    display: flex;
    gap: 10px;
}

/*Radio button style*/
/*
    .input{
  appearance: none;
  display: block;
  margin: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: hsla(0, 0%, 100%, .15) 0 1px 1px, inset hsla(0, 0%, 0%, .5) 0 0 0 1px;
  background-color: hsla(0, 0%, 0%, .2);
  background-image: radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
  background-repeat: no-repeat;
  transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}

input:checked {
  transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    transform .25s cubic-bezier(0, 0, .2, 1);
 }

.input:active {
  transform: scale(1.5);
  transition: transform .1s cubic-bezier(0, 0, .2, 1);
}

.input, .input:active {
  background-position: 0 24px;
}

.input:checked{
  background-position: 0 0;
}

.input:checked ~.input,
.input:checked ~.input:active{
  background-position: 0 -24px;
}
*/

/*ebebeb*/